*{
    padding: 0;
    margin: 0;
}

nav{
    background-color: #5A413D;
    display: flex;
    align-items: center;
    width: 100vw;
    z-index: 1;
   
    
    position: fixed;
    height: 70px;
    
}
nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    position: relative;
    left: 730px;
    
}
.active{
    border-bottom: 2px solid white;

    
    
}
nav ul li{
    display: flex;
    margin-left: 40px;
    color: white;
}

nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color :white;
    text-decoration: none;
    height: 30px;
    width: 60px; 
    font-weight: bold; 
cursor: pointer;  }

    
nav span b{
    color: white;
    font-size: 40px;
    }

 nav span{
    color: white;
   position: relative;
   left: 50px; 
}

#search-bar{
    width: 450px;
    height: 40px;
    position: relative;
    right: 207px;
}
#search-bar input{
    width: 80%;
    height: 100%;
    display: inline-block;
    border: none;
    font-size: 17px;
    padding-left: 7px;
    border-radius: 10px;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
#search-bar input:focus {
    outline: none; /* Removes the default focus outline */
    box-shadow: none; /* Removes any box-shadow applied on focus */
}

#search-bar button{
    width: 20%;
    height: 100%;
    display: inline-block;
    background-color: #5A413D;
    border: none;
    color:white;
    font-size: 17px;
    font-weight: bold;
    border: white 2px solid;
    cursor: pointer;
    border-radius: 10px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
}

  #categories{
    position: relative;
    top: 70px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    background-color: #EEDDCD;
 }
 #categories ul{
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 #categories ul li{
    list-style: none;
    display: inline-block;
    font-weight: bold;
    color: black;
cursor: pointer;}

#categories ul li:hover{
    font-size: large;
}
    
    #categories ul li a{
        text-decoration: none;
        color:white;
    }