#Single-main-div {
    margin-top: 100px;
    height: 400px;
    width: auto;
    display: flex;
    align-items: flex-start; 
}

#single-image-div {
    height: 500px;
    width: auto;
    margin-left: 20px;
    display: inline-block;
}
#single-image-div img {
    height: 400px;
    width: 400px;
    background-size: cover;
}

#single-text-div {
    height: auto;
    display: inline-block;
    margin-top: 10px;
    padding: 10px; /* Add padding to ensure text is not flush against the border */
    background-color: white; /* Optional: Add background color for readability */
    margin-left: 20px; 
}
#single-title{

    margin-bottom: 10px;
}
#single-description{
    margin-bottom: 10px;
}
#single-detail{
 
    margin-bottom: 10px;
}

#single-price{
    height: 40px;
    width: 100px;
    background-color: brown;
    color :white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    
}
#singledata-cart{height: 40px;
    width: 100px;
    background-color: brown;
    color :white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;
 cursor: pointer;
 position: relative;
 bottom: 50px;
 left: 139px;}

a{text-decoration: none;
background-color: none;}
.half-star{
    height: 20px;
    width: 20px;
    color: rgb(255, 255, 2);
    
  }
  .full-star{
    height: 20px;
    width: 20px;
    color: rgb(255, 255, 2);
    
  }
  .empty-star {
    height: 23px;
    width: 23px;
    color: yellow;
    position: absolute;

  }
  #review{
    margin-top:5px;
  }
  .stars-wrapper{
    position: relative;
    bottom: 45px;

  }