*{
    z-index: 0;
}
#home-main-div {
    background-color: black;
    height: auto;
    width: auto;
    display: flex;
    flex-wrap: wrap; /* To wrap containers to new lines */
}

#container1, #container2, #container3, #container4, #container5, 
#container6, #container7, #container8, #container9, #container10, 
#container11, #container12 {
    height: 300px;
    width: 250px;
    border: 1px solid black;
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    margin-left: 50px;
    margin-top: 70px;
    position: relative;
}

#image1, #image2, #image3, #image4, #image5, 
#image6, #image7, #image8, #image9, #image10, 
#image11, #image12 {
    width: 100%; /* Full width of the container */
    height: 200px; /* Fixed height */
    background-position: center;
    background-size: cover; /* Ensure image covers the div */
}

#text1, #text2, #text3, #text4, #text5, 
#text6, #text7, #text8, #text9, #text10, 
#text11, #text12 {
    background-color: white;
    width: 100%; /* Full width of the container */
    height: 100px; /* Fixed height */
    color: black;
    overflow: hidden; /* Hide overflow text if needed */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text vertically */
    text-align: center; /* Center text horizontally */
}
#image1{
    background-image: url('../images/pant1.jpg');
}
#image2{
    background-image: url('../images/pant2.jpg');
}
#image3{
    background-image: url('../images/pant3.jpg');
}
#image4{
    background-image: url('../images/pant4.jpg');
}
#image5{
    background-image: url('../images/pant5.webp');
}
#image6{
    background-image: url('../images/pant6.jpg');
}
#image7{
    background-image: url('../images/pant7.webp');
}
#image8{
    background-image: url('../images/pant8.jpg');
}
#image9{
    background-image: url('../images/pant9.jpg');
}
#image10{
    background-image: url('../images/pant10.jpg');
}
#image11{
    background-image: url('../images/pant11.jpg');
}
#image12{
    background-image: url('../images/pant12.webp');
}