*{
    padding: 0;
    margin: 0;
    z-index: 1;
}

nav{
    background-color: #6a040f;
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 10000;
}
nav ul{
    display: flex;
    padding-right: 50px;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    margin-left: 500px;
    
}
.active{
    box-shadow: 2px 2px 2px white,
    2px 2px 2px white;

    
    
}
nav ul li{
    display: flex;
    margin-left: 110px;
    color: white;
}

nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color :white;
    text-decoration: none;
    background-color:#6a040f ;
    height: 30px;
    width: 60px;    }

    nav ul li a:hover{
        background-color: #89343d;

    }
nav span b{
    color: white;
    font-size: 30px;
    }

 nav span{
    color: white;
 }   